@charset "utf-8";
/* CSS Document */
body{
	-background: #ccc;
}
.index-left{
	position: fixed;
	top: 70px;
	left: 20px;
	width:500px;
	height: 100%;
	background: url("/images/bg2.jpg")no-repeat;
	background-size: cover;
}
.index-right{
	overflow: hidden;
	-background:#333;
	width: 100%;
	padding:70px 0 0 540px;
	height: 800px;
}
.topic-nav{
	border-bottom: 1px solid #ebebbe;
	padding-bottom: 10px;
	position: fixed;
	background: #fff;
	width: 100%;
	padding-right: 20px;
	height: 60px;
	line-height: 80px;
	top: 50px;
}
.topic-nav li{
	float: left;
}
.topic-nav li a{
	float: left;
	display: inline-block;
	color: #ccc;
	padding: 0 10px;
}
.topic-nav li.active a{
	color: #8a4343;
}
.right-wrap{
	padding-right: 20px;
}
.topic-list{
	margin-top: 50px;
}
.topic-list li {
	color: #333;
	border-bottom:1px dashed #ebebeb;
	padding-bottom: 15px;
	margin-top: 15px;
}
.topic-list li h3{
	margin: 5px 0;
}
.topic-list li h3 a{
	color: #666;
	font-size: 16px;
	-font-weight: bold;
}
p.topic-info{
	margin-bottom: 0;
}
p.topic-info span{
	margin-right: 10px;
	color: #999;
}